.App {
  padding-top:50px ;
  background: #393056;
  height: 100vh;
}
.App h2{  
  color: #9a6aff; 
}

.main{
  padding-top:50px ;
  width: 100%;
  text-align: center;
}

.main button{
  width: 100px;
  height:40px;
  background:#1fc7d4;
  color: #191326;
  border-radius: 15px;
  border: none;
  margin: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}